@use 'media' as *;
@use 'mixins' as *;

$ff-base: 'RHD', sans-serif;
$container-width: 1688px;

:root {
    --container-padding: 20px;
    --section-pdd: #{rem(96px)};
}

$body_bg: #272d69;
$drk_color: #272d69;
$lgth_color: #edf3f9;
$blue_color: #9dd0ff;
$dark_indigo: #323871;
$navy_black: #111852;
$accent_gr: linear-gradient(
    135.3deg,
    #9dd0ff 0.01%,
    rgba(75, 159, 238, 0.6) 122.61%
);
$accent_gr_revert: linear-gradient(
    135.3deg,
    rgba(75, 159, 238, 0.6) 0%,
    #9dd0ff 122.6%
);

@include media('tablet') {
    :root {
        --container-padding: 44px;
        --section-pdd: #{rem(120px)};
    }
}

@include media('laptop') {
    :root {
        --section-pdd: #{rem(140px)};
    }
}

@include media('desktop') {
    :root {
        --section-pdd: #{rem(160px)};
    }
}
