@use '../../base/media' as *;
@use '../../base/var' as *;
@use '../../base/mixins' as *;

.js-cursor {
    &::after {
        content: '';
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: radial-gradient(
            800px circle at var(--x) var(--y),
            rgba(255, 255, 255, 0.5),
            transparent 40%
        );
        z-index: 2;
        pointer-events: none;

        opacity: var(--opacity, 0);
        transition: opacity 0.5s ease;
        mix-blend-mode: overlay;
    }
}
