@use '../../base/media' as *;
@use '../../base/var' as *;
@use '../../base/mixins' as *;

.slider-nav {
    display: inline-flex;
    width: rem(40px);
    height: rem(40px);
    align-items: center;
    justify-content: center;
    border-radius: rem(8px);
    background: #34407d;
    color: #9dd0ff;
    @include transitions(0.3s, cubic-bezier(0.768, 0.304, 0.496, 0.884));
    @include hover {
        background: #f7f9fc;
        color: #272d69;
    }

    svg {
        width: rem(24px);
        height: rem(24px);
        @include transitions(0.3s, cubic-bezier(0.768, 0.304, 0.496, 0.884));
    }
}
