@use '../../base/media' as *;
@use '../../base/var' as *;
@use '../../base/mixins' as *;

.adds {
    margin-bottom: var(--section-pdd);

    &__info {
        display: flex;
        flex-direction: column;
        gap: rem(16px);
        margin-bottom: rem(32px);
        @include media('laptop') {
            gap: rem(32px);
            max-width: rem(700px);
            margin-bottom: rem(56px);
        }
    }

    &__text {
        font: 400 #{rem(18px)} / 145% $ff-base;
    }

    &__cards {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: rem(16px);
        margin-bottom: rem(32px);
        @include media('laptop') {
            grid-template-columns: repeat(2, 1fr);
            gap: rem(28px);
            margin-bottom: rem(56px);
        }
        @include media('desktop') {
            grid-template-columns: repeat(4, 1fr);
        }
    }

    &__card {
        padding: rem(16px);
        border-radius: rem(24px);
        background: #323871;
        @include media('laptop') {
            padding: rem(45px) rem(32px);
            border-radius: rem(32px);
        }
    }

    &__head {
        display: flex;
        align-items: center;
        gap: rem(12px);
        margin-bottom: rem(12px);
        @include media('laptop') {
            flex-direction: column;
            gap: rem(24px);
            align-items: flex-start;
            margin-bottom: rem(24px);
        }

        img {
            width: rem(32px);
            height: rem(32px);
            @include media('laptop') {
                width: rem(40px);
                height: rem(40px);
            }
        }
    }

    &__title {
        font: 500 #{rem(18px)} / 140% $ff-base;
        @include media('laptop') {
            font-size: rem(24px);
        }
    }

    &__descr {
        font: 400 #{rem(16px)} / 150% $ff-base;
        margin-left: rem(44px);
        @include media('laptop') {
            margin-left: 0;
            font-size: rem(18px);
        }
    }

    .cta {
        width: 100%;
        @include media('laptop') {
            max-width: rem(260px);
        }
    }
}
