@use '../../base/media' as *;
@use '../../base/var' as *;
@use '../../base/mixins' as *;

.change-manege {
    margin-bottom: var(--section-pdd);
    overflow: hidden;
    position: relative;

    &__info {
        display: flex;
        flex-direction: column;
        gap: rem(16px);
        margin-bottom: rem(32px);
        max-width: rem(901px);
        @include media('laptop') {
            gap: rem(32px);
            margin-bottom: rem(56px);
        }
    }

    &__about {
        font: 400 #{rem(18px)} / 145% $ff-base;
        max-width: rem(806px);
        @include media('laptop') {
            font-size: rem(24px);
        }
    }

    &__slider {
        overflow: visible;
        counter-reset: step;
    }

    &__slide {
        &:nth-child(odd) {
            .change-manege__box {
                justify-content: flex-end;

                @include media('laptop') {
                    padding-bottom: rem(53px);
                }

                &::after {
                    bottom: 0;
                }
            }
        }
        &:nth-child(even) {
            .change-manege__box {
                justify-content: flex-start;
                @include media('laptop') {
                    padding-top: rem(13px);
                }
                &::after {
                    top: 0;
                }
            }
        }
    }

    &__box {
        display: flex;
        flex-direction: column;
        padding-right: rem(16px);
        min-height: rem(297px);
        position: relative;
        &::after {
            content: '';
            position: absolute;
            right: 0;
            width: 3px;
            height: 90%;
            background: #717bb1;
        }
        @include media('laptop') {
            padding-right: rem(28px);
            min-height: rem(426px);
        }
    }

    &__title {
        font: 500 #{rem(22px)} / 130% $ff-base;
        letter-spacing: 0.4px;
        margin-bottom: rem(16px);
        counter-increment: step;
        display: inline-flex;
        align-items: center;
        gap: rem(16px);
        color: #9dd0ff;
        @include media('laptop') {
            font-size: rem(24px);
        }

        &::before {
            font: 500 #{rem(22px)} / 140% $ff-base;
            display: inline-flex;
            flex-shrink: 0;
            align-items: center;
            justify-content: center;
            width: rem(40px);
            height: rem(40px);
            content: counter(step);
            border-radius: rem(4px);
            color: #9dd0ff;
            background: #323871;
            @include media('laptop') {
                font-size: rem(28px);
                width: rem(48px);
                height: rem(48px);
            }
        }
    }

    &__text {
        font: 400 #{rem(16px)} / 150% $ff-base;
        @include media('laptop') {
            font-size: rem(18px);
        }
    }

    &__pag {
        padding-top: rem(32px);
        display: flex;
        justify-content: center;
        align-items: center;
        gap: rem(5px);
        min-height: rem(12px);

        &.swiper-pagination-lock {
            display: none;
        }

        .swiper-pagination-bullet {
            margin: 0 !important;
            opacity: 1 !important;
            width: rem(10px) !important;
            height: rem(10px) !important;
            background: #34407d !important;
            @include transitions(
                0.3s,
                cubic-bezier(0.768, 0.304, 0.496, 0.884)
            );

            &-active {
                width: rem(12px) !important;
                height: rem(12px) !important;
                background: #717bb1 !important;
            }
        }
    }

    &__bg {
        display: none;
        @include media('laptop') {
            display: block;
            position: absolute;
            left: 0;
            top: 0;
            width: rem(500px);
            height: rem(767px);
            object-fit: cover;
        }
    }
}
