@use '../../base/media' as *;
@use '../../base/var' as *;
@use '../../base/mixins' as *;

.description {
    margin-bottom: var(--section-pdd);

    .content-title {
        margin-bottom: rem(16px);
        max-width: rem(901px);
        @include media('laptop') {
            margin-bottom: rem(32px);
        }
    }

    &__text {
        font: 400 #{rem(18px)} / 145% $ff-base;
        margin-bottom: rem(32px);
        max-width: rem(806px);
        @include media('laptop') {
            font-size: rem(24px);
            margin-bottom: rem(56px);
        }
    }

    .cta {
        width: 100%;
        @include media('laptop') {
            max-width: max-content;
            min-width: rem(260px);
        }
    }
}
