@use '../../base/media' as *;
@use '../../base/var' as *;
@use '../../base/mixins' as *;

.framework-points {
    overflow: hidden;
    margin-bottom: var(--section-pdd);

    &__items {
        margin-bottom: rem(12px);
    }

    &__heading {
        font: 800 #{rem(28px)} / 130% $ff-base;
        letter-spacing: 0.4px;
        text-align: center;
        opacity: 0.04;
        margin-top: rem(-5px);
        max-width: 85%;
        margin: 0 auto;
        color: #9dd0ff;
        @include media('desktop') {
            font-size: rem(92px);
            margin-top: 0;
            margin-bottom: 40px;
        }
    }

    &__caption {
        font: 500 #{rem(32px)} / 130% $ff-base;
        letter-spacing: 0.4px;
        text-align: center;
        position: relative;
        width: max-content;
        max-width: 90%;
        margin: 0 auto;
        @include media('desktop') {
            font-size: rem(56px);
        }
        &::after,
        &::before {
            content: '';
            width: rem(32px);
            height: rem(32px);
            position: absolute;
            top: rem(-35px);
            @include media('desktop') {
                width: rem(114px);
                height: rem(114px);
                top: 50%;
            }
        }

        &::before {
            left: rem(-20px);
            background: url('../imgs/ico/ico-lit-left.svg') no-repeat center
                center / cover;
            @include media('desktop') {
                left: 0;
                transform: translate(-120%, -80%);
            }
        }
        &::after {
            right: rem(-20px);
            background: url('../imgs/ico/ico-lit-right.svg') no-repeat center
                center / cover;
            @include media('desktop') {
                right: 0;
                transform: translate(120%, -80%);
            }
        }
    }

    &__descr {
        padding-top: rem(24px);
        margin-bottom: rem(96px);
        font: 500 #{rem(22px)} / 130% $ff-base;
        letter-spacing: 0.4px;
        text-align: center;
        @include media('desktop') {
            padding-top: rem(32px);
            margin-bottom: rem(82px);
            font-size: rem(28px);
        }
    }

    &__about {
        font: 400 #{rem(18px)} / 150% $ff-base;
        @include media('laptop') {
            font-size: rem(24px);
        }
        @include media('desktop') {
            max-width: rem(836px);
        }
    }

    &__info {
        display: flex;
        flex-direction: column;
        gap: rem(32px);
        @include media('desktop') {
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            padding-block: rem(32px);
        }

        .cta {
            @include media('laptop') {
                width: max-content;
                min-width: rem(316px);
            }
        }
    }

    &__titles {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: rem(20px);
    }

    &__boxes {
        display: flex;
        flex-direction: column;
        gap: rem(16px);
        @include media('laptop') {
            gap: rem(24px);
        }
    }

    &__title {
        font: 500 #{rem(32px)} / 130% $ff-base;
        letter-spacing: 0.4px;
        margin-bottom: rem(24px);
        color: #9dd0ff;

        &:last-child {
            text-align: right;
            @include media('laptop') {
                padding-right: 15px;
                border-right: 2px solid #4a9fee66;
            }
        }
        &:first-child {
            @include media('laptop') {
                padding-left: 15px;
                border-left: 2px solid #4a9fee66;
            }
        }

        @include media('laptop') {
            margin-bottom: rem(48px);
            font-size: rem(40px);
        }
    }

    &__subtitle {
        font: 500 #{rem(16px)} / 150% $ff-base;
        @include transitions(0.3s, cubic-bezier(0.768, 0.304, 0.496, 0.884));
        @include media('laptop') {
            font-size: rem(24px);
        }
    }

    &__list {
        display: flex;
        gap: rem(40px);
        position: relative;
        @include media('desktop') {
            gap: rem(164px);
        }

        li {
            display: flex;
            flex-direction: column;
            gap: rem(12px);
            flex: 1;
            border-radius: rem(16px);
            padding: rem(12px);
            background: #323871;
            @include hover {
                .framework-points__ico {
                    background: transparent;
                }
                .framework-points__subtitle {
                    color: #9dd0ff;
                }
            }

            @include media('laptop') {
                padding: rem(51px) rem(32px);
                flex-direction: row;
                align-items: center;
                gap: rem(16px);
                border-radius: rem(32px);
            }
        }

        &::after {
            content: '';
            display: inline-flex;
            flex-shrink: 0;
            width: rem(32px);
            height: rem(32px);
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background: url('../imgs/ico/ico-arrow.svg') no-repeat center
                center / cover;
            @include media('desktop') {
                width: rem(82px);
                height: rem(82px);
            }
        }
    }

    &__ico {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;
        width: rem(32px);
        height: rem(32px);
        border-radius: rem(8px);
        background: #34407d;
        @include transitions(0.3s, cubic-bezier(0.768, 0.304, 0.496, 0.884));
        @include media('laptop') {
            width: rem(40px);
            height: rem(40px);
        }

        img {
            width: 18px;
            height: 18px;
            @include media('laptop') {
                width: rem(24px);
                height: rem(24px);
            }
        }
    }
}
