@use '../../base/media' as *;
@use '../../base/var' as *;
@use '../../base/mixins' as *;

.lease {
    margin-bottom: var(--section-pdd);

    .container {
        @include media('laptop') {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: rem(20px);
        }
    }

    &__info {
        display: flex;
        flex-direction: column;
        gap: rem(16px);
        margin-bottom: rem(32px);
        @include media('laptop') {
            margin-bottom: 0;
            gap: rem(31px);
        }
    }

    &__text {
        @include media('laptop') {
            max-width: rem(631px);
            width: 100%;
        }
        p {
            font: 400 #{rem(18px)} / 145% $ff-base;
            @include media('desktop') {
                font-size: rem(24px);
            }
        }
    }

    &__cards {
        display: flex;
        flex-direction: column;
        gap: rem(16px);
        margin-bottom: rem(32px);
        @include media('tablet') {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
        }
        @include media('laptop') {
            max-width: rem(806px);
            gap: rem(28px);
            grid-template-columns: repeat(1, 1fr);
        }
        @include media('desktop') {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    .cta {
        width: 100%;

        &.desktop--visible {
            display: none;
            @include media('laptop') {
                display: inline-flex;
                max-width: max-content;
                min-width: rem(260px);
            }
        }
        &.desktop--hidden {
            @include media('laptop') {
                display: none;
            }
        }
    }
}
