@use '../../base/media' as *;
@use '../../base/var' as *;
@use '../../base/mixins' as *;

.legal {
    margin-bottom: var(--section-pdd);
    &__head {
        padding-top: rem(11px);
        display: flex;
        flex-direction: column;
        gap: rem(12px);
        margin-bottom: rem(32px);
        @include media('laptop') {
            margin-bottom: rem(42px);
            padding-top: 0;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
        }
        @include media('desktop') {
            margin-bottom: rem(80px);
        }
    }

    &__date {
        font: 400 #{rem(13px)} / 150% $ff-base;
        display: inline-flex;
        align-items: center;
        gap: rem(8px);
        @include media('laptop') {
            font-size: rem(14px);
        }

        img {
            width: rem(16px);
            height: rem(16px);
        }
    }

    &__content {
        max-width: rem(1200px);
        counter-reset: step;
        h2 {
            font: 500 #{rem(22px)} / 130% $ff-base;
            letter-spacing: 0.4px;
            margin: 0 0 rem(16px) 0;
            @include media('laptop') {
                margin-bottom: rem(34px);
                font-size: rem(25px);
            }

            @include media('desktop') {
                margin-bottom: rem(56px);
                font-size: rem(28px);
            }
        }

        h4 {
            font: 500 #{rem(20px)} / 130% $ff-base;
            letter-spacing: 0.4px;
            margin: 0 0 rem(16px) 0;
        }

        h5,
        h6 {
            font: 500 #{rem(18px)} / 130% $ff-base;
            letter-spacing: 0.4px;
            margin: 0 0 rem(16px) 0;
        }

        h3 {
            font: 500 #{rem(22px)} / 130% $ff-base;
            letter-spacing: 0.4px;
            margin: 0 0 rem(16px) 0;
            counter-increment: step;

            @include media('laptop') {
                margin-bottom: rem(20px);
                font-size: rem(24px);
            }

            @include media('desktop') {
                margin-bottom: rem(24px);
                font-size: rem(28px);
            }

            &::before {
                font: 500 #{rem(22px)} / 130% $ff-base;
                letter-spacing: 0.4px;
                content: counter(step) '. ';
                @include media('laptop') {
                    font-size: rem(25px);
                }

                @include media('desktop') {
                    font-size: rem(28px);
                }
            }
        }

        p {
            font: 400 #{rem(16px)} / 150% $ff-base;

            &:has(+ h2),
            &:has(+ h3),
            &:has(+ h4),
            &:has(+ h5),
            &:has(+ h6) {
                margin-bottom: rem(32px);
                @include media('laptop') {
                    margin-bottom: rem(44px);
                }

                @include media('desktop') {
                    margin-bottom: rem(56px);
                }
            }
        }

        a {
            text-decoration: underline;
            text-underline-offset: rem(3px);
            color: #9dd0ff;
        }

        ul,
        ol {
            display: flex;
            flex-direction: column;
            gap: rem(3px);
            padding: 0 0 0 rem(20px);
            margin: 0 0 rem(32px) 0;

            li {
                font: 400 #{rem(16px)} / 150% $ff-base;
            }

            &:has(+ p) {
                margin-bottom: 0;
            }
        }
    }
}
