@use '../../base/media' as *;
@use '../../base/var' as *;
@use '../../base/mixins' as *;

.literature {
    margin-bottom: var(--section-pdd);

    .content-title {
        margin-bottom: rem(16px);
        @include media('laptop') {
            margin-bottom: rem(32px);
        }
    }

    .container {
        @include media('laptop') {
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-between;
        }
    }

    &__info {
        @include media('laptop') {
            width: 50%;
            max-width: 100%;
        }
        @include media('desktop') {
            width: 100%;
            max-width: rem(806px);
        }
    }

    &__texts {
        @include media('laptop') {
            margin-bottom: rem(32px);
        }
        p {
            font: 400 #{rem(16px)} / 150% $ff-base;
            @include media('laptop') {
                font-size: rem(24px);
            }

            span {
                font-style: italic;
            }
        }
    }

    &__book {
        padding-block: rem(32px);
        max-width: rem(197px);
        margin: 0 auto;
        img {
            width: 100%;
            height: auto;
        }
        @include media('laptop') {
            padding: 0;
            width: 50%;
            max-width: 100%;
        }
        @include media('desktop') {
            width: 100%;
            margin: 0;
            max-width: rem(582px);
        }
    }

    .cta {
        width: 100%;

        &.desktop--visible {
            display: none;
            @include media('laptop') {
                display: inline-flex;
                max-width: max-content;
                min-width: rem(260px);
            }
        }
        &.desktop--hidden {
            @include media('laptop') {
                display: none;
            }
        }
    }
}
