@use '../../base/media' as *;
@use '../../base/var' as *;
@use '../../base/mixins' as *;

.more {
    overflow: hidden;
    margin-bottom: var(--section-pdd);
    .content-title {
        margin-bottom: rem(32px);
        @include media('laptop') {
            margin-bottom: rem(64px);
        }
    }

    .cta {
        width: 100%;
        margin-top: rem(32px);
        @include media('laptop') {
            margin-top: rem(64px);
            width: max-content;
            min-width: rem(260px);
        }
    }
}
