@use '../../base/media' as *;
@use '../../base/var' as *;
@use '../../base/mixins' as *;

.posts {
    overflow: hidden;
    margin-bottom: var(--section-pdd);

    .container {
        &:first-child {
            padding: 0;
        }
    }

    .filters-box {
        margin-bottom: rem(32px);
        padding-inline: var(--container-padding);
        @include media('laptop') {
            margin-bottom: rem(56px);
        }
    }

    &__card {
        display: flex;
        flex-direction: column;
        gap: rem(40px);
        @include media('tablet') {
            display: grid;
            grid-template-columns: repeat(2, minmax(0, 1fr));
            gap: rem(28px);
        }
        @include media('desktop') {
            grid-template-columns: repeat(3, minmax(0, 1fr));
        }

        &:has(.event-box) {
            gap: rem(24px);

            @include media('desktop') {
                gap: rem(56px) rem(28px);
            }

            .articles-nav {
                padding-top: rem(8px);
                @include media('tablet') {
                    grid-column: span 2;
                }
                @include media('desktop') {
                    grid-column: span 3;
                    padding-top: 0;
                }
            }
        }
    }

    &__events {
        padding: rem(12px) rem(20px);
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: rem(10px);
        border-radius: rem(24px);
        margin-bottom: rem(32px);
        background: #323871;
        @include media('laptop') {
            padding: rem(20px) rem(30px);
        }
        @include media('desktop') {
            padding: rem(27px) rem(35px);
            border: rem(32px);
            margin-bottom: rem(56px);
        }
    }

    &__event {
        font: 500 #{rem(18px)} / 150% $ff-base;
        padding: rem(8px) rem(12px);
        border-radius: rem(16px);
        justify-content: center;
        @include transitions(0.3s, cubic-bezier(0.768, 0.304, 0.496, 0.884));
        @include media('laptop') {
            font-size: rem(20px);
            padding: rem(13px);
            min-width: rem(250px);
        }
        @include media('desktop') {
            font-size: rem(24px);
            padding: rem(16px);
            min-width: rem(356px);
        }

        &.is-active {
            color: #090909;
            background: #edf3f9;
        }

        @include hover {
            color: #090909;
            background: #edf3f9;
        }
    }
}
