@use '../../base/media' as *;
@use '../../base/var' as *;
@use '../../base/mixins' as *;

.posts {
    overflow: hidden;
    margin-bottom: var(--section-pdd);

    .container {
        &:first-child {
            padding: 0;
        }
    }

    .filters-box {
        margin-bottom: rem(32px);
        padding-inline: var(--container-padding);
        @include media('laptop') {
            margin-bottom: rem(56px);
        }
    }
    &__card {
        display: flex;
        flex-direction: column;
        gap: rem(40px);
        @include media('tablet') {
            display: grid;
            grid-template-columns: repeat(2, minmax(0, 1fr));
            gap: rem(28px);
        }
        @include media('desktop') {
            display: grid;
            grid-template-columns: repeat(3, minmax(0, 1fr));
        }
    }
}
