@use '../../base/media' as *;
@use '../../base/var' as *;
@use '../../base/mixins' as *;

.reward {
    margin-bottom: var(--section-pdd);

    .content-title {
        margin-bottom: rem(32px);
        @include media('laptop') {
            margin-bottom: rem(56px);
        }
    }

    .container {
        @include media('laptop') {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: rem(40px);
        }
    }

    &__info {
        @include media('laptop') {
            width: 50%;
        }
    }

    &__texts {
        padding-bottom: rem(32px);
        margin-bottom: rem(32px);
        position: relative;
        @include media('laptop') {
            margin-bottom: rem(56px);
        }
        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            height: 1px;
            width: 100%;
            background: #4a9fee66;
            @include media('laptop') {
                width: 80%;
            }
        }
        p {
            font: 400 #{rem(16px)} / 150% $ff-base;
            @include media('laptop') {
                font-size: rem(24px);
            }
        }
    }

    &__label {
        padding-block: rem(10px);
        margin-bottom: rem(32px);
        display: flex;
        align-items: center;
        justify-content: center;
        @include media('laptop') {
            width: 50%;
        }

        img {
            width: rem(213px);
            height: rem(213px);
            @include media('laptop') {
                flex-shrink: 0;
                width: rem(384px);
                height: rem(384px);
            }
        }
    }

    .cta {
        width: 100%;

        &.desktop--visible {
            display: none;
            @include media('laptop') {
                display: inline-flex;
                max-width: max-content;
                min-width: rem(260px);
            }
        }
        &.desktop--hidden {
            @include media('laptop') {
                display: none;
            }
        }
    }
}
