@use '../../base/media' as *;
@use '../../base/var' as *;
@use '../../base/mixins' as *;

.search {
    padding-top: var(--section-pdd);
    margin-bottom: var(--section-pdd);
    position: relative;
    overflow: hidden;

    &__info {
        display: flex;
        flex-direction: column;
        gap: rem(16px);
        margin-bottom: rem(32px);
        @include media('laptop') {
            margin-bottom: rem(56px);
            gap: rem(32px);
        }
    }

    &__descr {
        font: 400 #{rem(18px)} / 145% $ff-base;
        max-width: rem(844px);
        @include media('laptop') {
            font-size: rem(24px);
        }
    }

    &__box {
        display: flex;
        flex-direction: column;
        gap: rem(12px);
        padding: rem(16px);
        border-radius: rem(24px) rem(1px) rem(24px) rem(1px);
        background: #323871;
        @include media('laptop') {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 0;
            padding: rem(30px);
            border-radius: rem(32px) rem(1px) rem(32px) rem(1px);
        }
        @include media('desktop') {
            padding: rem(56px);
            border-radius: rem(48px) rem(1px) rem(48px) rem(1px);
        }
    }

    &__item {
        position: relative;

        @include media('laptop') {
            padding-block: rem(15px);
        }

        &:not(:last-child) {
            padding-bottom: rem(12px);
            @include media('laptop') {
                padding-bottom: 0;
                padding-right: rem(19px);
                margin-right: rem(19px);
                border-right: 1px solid #4a9fee66;
            }

            &::after {
                content: '';
                position: absolute;
                height: 1px;
                width: 80%;
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
                background: #4a9fee66;
                @include media('laptop') {
                    display: none;
                }
            }
        }
    }

    &__title {
        font: 500 #{rem(22px)} / 130% $ff-base;
        letter-spacing: 0.4px;
        margin-bottom: rem(12px);
        color: #9dd0ff;
    }

    &__text {
        font: 400 #{rem(16px)} / 150% $ff-base;
        color: #f7f7f7;
    }

    &__bg {
        display: none;
        @include media('laptop') {
            display: block;
            width: rem(500px);
            height: rem(767px);
            position: absolute;
            left: rem(-150px);
            top: 0;
            z-index: -1;
        }
    }
}
