@use '../../base/media' as *;
@use '../../base/var' as *;
@use '../../base/mixins' as *;

.services {
    margin-bottom: var(--section-pdd);
    &__content {
        padding-top: var(--section-pdd);
        display: flex;
        flex-direction: column;
        gap: rem(32px);
    }
    &__box {
        padding: rem(20px);
        border-radius: rem(24px);
        position: relative;
        overflow: hidden;
        background: $dark_indigo;

        @include media('desktop') {
            padding: rem(64px);
        }

        &-about {
            @include media('desktop') {
                max-width: rem(700px);
            }
        }

        &-head {
            @include media('desktop') {
                display: flex;
                gap: rem(31px);
                align-items: flex-start;
            }
        }

        &-text {
            max-height: rem(360px);
            overflow: auto;
            scrollbar-width: none;
            -ms-overflow-style: none;
            &::-webkit-scrollbar {
                display: none;
            }
        }

        &-descr {
            font: 500 #{rem(14px)} / 150% $ff-base;
            margin-bottom: rem(24px);
            @include media('laptop') {
                font-size: rem(20px);
            }
            @include media('desktop') {
                margin-bottom: 0;
            }
        }

        &-text {
            p {
                @include media('laptop') {
                    font-size: rem(20px);
                }
            }
        }

        &-tags {
            display: flex;
            align-items: center;
            gap: rem(8px);
            overflow: auto;
            scrollbar-width: none;
            margin-bottom: rem(24px);
            -ms-overflow-style: none;
            &::-webkit-scrollbar {
                display: none;
            }

            @include media('desktop') {
                overflow: inherit;
                margin: 0;
                flex-wrap: wrap;
                max-width: 50%;
            }

            li {
                display: flex;
                flex-shrink: 0;
                @include transitions(
                    0.3s,
                    cubic-bezier(0.768, 0.304, 0.496, 0.884)
                );

                &:first-child {
                    display: grid;
                    grid-template-columns: 1fr;

                    &:has(.is-active) {
                        grid-template-columns: 0fr;
                        a {
                            padding: 0;
                        }
                    }

                    a {
                        overflow: hidden;
                        background-color: transparent;
                        color: #f7f9fc;
                        border: none;

                        @include hover {
                            background-color: transparent;
                            color: #f7f9fc;
                        }

                        &::before {
                            display: none;
                        }

                        &.is-active {
                            background-color: transparent;
                            color: #f7f9fc;
                        }
                    }
                }

                a {
                    font: 400 #{rem(14px)} / 150% $ff-base;
                    border-radius: rem(24px);
                    display: flex;
                    align-items: center;
                    gap: rem(6px);
                    flex-shrink: 0;
                    padding: rem(6px) rem(10px);
                    border: 1px solid #717bb1;
                    background: #34407d;

                    @include media('desktop') {
                        font-size: rem(18px);
                    }

                    &::before {
                        content: '';
                        border-radius: 50%;
                        width: rem(4px);
                        height: rem(4px);
                        background: #f7f9fc;
                        @include transitions(
                            0.3s,
                            cubic-bezier(0.768, 0.304, 0.496, 0.884)
                        );
                    }

                    &.is-active {
                        background: #edf3f9;
                        color: #272d69;

                        &::before {
                            background: #272d69;
                        }
                    }

                    @include hover {
                        background: #edf3f9;
                        color: #272d69;

                        &::before {
                            background: #272d69;
                        }
                    }
                    @include transitions(
                        0.3s,
                        cubic-bezier(0.768, 0.304, 0.496, 0.884)
                    );
                }
            }
        }

        &-info {
            display: flex;
            flex-direction: column-reverse;
            gap: rem(24px);

            @include media('desktop') {
                padding-top: rem(56px);
                flex-direction: row;
                justify-content: space-between;
            }
        }

        &-features {
            order: 1;

            li {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }

            p {
                font: 500 #{rem(14px)} / 150% $ff-base;
                margin: 0;
                margin-bottom: rem(24px);
                @include media('laptop') {
                    font-size: rem(18px);
                }
            }

            span {
                font: 400 #{rem(40px)} / #{rem(36px)} $ff-base;
                letter-spacing: 0.4px;
                color: #9dd0ff;
                @include media('desktop') {
                    font-size: rem(56px);
                }
            }

            img {
                width: rem(48px);
                height: rem(48px);
            }

            &.vert-list {
                display: flex;
                flex-direction: column;
                gap: rem(12px);
                @include media('desktop') {
                    max-width: rem(350px);
                }

                li {
                    flex-direction: row-reverse;
                    align-items: center;
                    justify-content: flex-end;
                    gap: rem(12px);

                    &:not(:last-child) {
                        padding-bottom: rem(12px);
                        border-bottom: 2px solid #4a9fee66;
                    }

                    img {
                        width: rem(40px);
                        height: rem(40px);
                    }
                }
                p {
                    margin: 0;
                }
            }

            &.hor-list {
                display: flex;
                justify-content: flex-start;
                gap: rem(24px);
                max-width: rem(267px);
                @include media('laptop') {
                    max-width: 100%;
                }
                @include media('desktop') {
                    max-width: rem(267px);
                }

                li {
                    &:first-child {
                        position: relative;
                        padding-right: rem(24px);

                        &::after {
                            content: '';
                            position: absolute;
                            top: 50%;
                            right: 0;
                            width: 2px;
                            height: 80%;
                            transform: translateY(-50%);
                            background: #4a9fee66;
                        }
                    }
                }
            }
        }

        &-row {
            &:last-child {
                @include media('desktop') {
                    max-width: rem(709px);
                    width: 100%;
                }
            }
            &:first-child {
                display: flex;
                flex-direction: column;
                gap: rem(24px);
                @include media('desktop') {
                    flex-direction: column-reverse;
                    justify-content: space-between;
                }
            }
        }

        &-label {
            display: none;
            @include media('desktop') {
                display: block;
                padding-top: rem(121px);
            }
        }

        &-bg {
            position: absolute;
            top: 0;
            right: 0;
            pointer-events: none;

            @include media('desktop') {
                width: rem(531px);
                right: auto;
                left: 40%;
                top: 80%;
                transform: translate(-50%, -50%);
            }
        }

        .content-title {
            margin-bottom: rem(16px);
        }

        .cta {
            order: 2;
            z-index: 2;
            width: 100%;
            @include media('desktop') {
                max-width: max-content;
                min-width: rem(260px);
            }
        }
    }
}
