@use '../../base/media' as *;
@use '../../base/var' as *;
@use '../../base/mixins' as *;

.subscribe {
    margin-bottom: var(--section-pdd);
}

.subscribe-box {
    position: relative;
    @include media('laptop') {
        padding: rem(40px);
        border-radius: rem(1px) rem(40px) rem(1px) rem(40px);
        background: #323871;

        .subscribe-form {
            padding: 0;
            background: transparent;
            border-radius: 0;
        }
    }
    @include media('desktop') {
        padding: rem(64px);
    }
    &__head {
        display: flex;
        align-items: center;
        gap: rem(16px);
        margin-bottom: rem(16px);

        img {
            width: rem(40px);
            height: rem(40px);
            @include media('desktop') {
                width: rem(48px);
                height: rem(48px);
            }
        }

        @include media('desktop') {
            margin-bottom: rem(32px);
        }

        .content-title {
            font-size: rem(30px);
            @include media('desktop') {
                font-size: rem(56px);
            }
        }
    }

    &__text {
        font: 400 #{rem(18px)} / 150% $ff-base;
        margin-bottom: rem(32px);
        @include media('desktop') {
            max-width: rem(718px);
            font-size: rem(24px);
            margin-bottom: rem(56px);
        }
    }

    .hidden-title {
        display: none;
        @include media('desktop') {
            position: absolute;
            right: rem(53px);
            top: 25%;
            display: block;
        }
    }
}
