@use '../../base/media' as *;
@use '../../base/var' as *;
@use '../../base/mixins' as *;

.testimonials {
    margin-bottom: var(--section-pdd);
    overflow: hidden;

    .content-title {
        margin-bottom: rem(32px);
        @include media('laptop') {
            margin-bottom: 0;
        }
    }

    &__slider {
        overflow: visible;
        @include media('laptop') {
            overflow: hidden;
        }
    }

    &__slide {
        height: auto;
    }

    &__box {
        padding: rem(16px);
        border-radius: rem(24px);
        height: 100%;
        background: #323871;
        @include media('laptop') {
            padding: rem(24px);
            border-radius: rem(32px);
        }
    }

    &__text {
        display: flex;
        align-items: flex-start;
        gap: rem(16px);
        font: 400 #{rem(14px)} / 150% $ff-base;
        margin-bottom: rem(16px);
        @include media('laptop') {
            font-size: rem(18px);
            gap: rem(32px);
        }

        &::before {
            content: '';
            display: inline-flex;
            flex-shrink: 0;
            width: rem(18px);
            height: rem(13px);
            background: url('../imgs/ico/ico-quote.svg') no-repeat center
                center / cover;
            @include media('laptop') {
                width: rem(46px);
                height: rem(32px);
            }
        }
    }

    &__author {
        display: flex;
        align-items: center;
        gap: rem(12px);

        img {
            width: 40px;
            height: 40px;
            flex-shrink: 0;
            border-radius: 50%;
            object-fit: cover;
            @include media('laptop') {
                width: rem(68px);
                height: rem(68px);
            }
        }
    }

    &__name {
        font: 500 #{rem(14px)} / 150% $ff-base;
        margin-bottom: rem(2px);
        @include media('laptop') {
            font-size: rem(16px);
        }
    }

    &__position {
        font: 400 #{rem(13px)} / 150% $ff-base;
        @include media('laptop') {
            font-size: rem(14px);
        }
    }

    &__head {
        @include media('laptop') {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: rem(20px);
            margin-bottom: rem(56px);
        }
    }

    &__nav {
        display: none;
        @include media('laptop') {
            display: flex;
            align-items: center;
            gap: rem(16px);
        }
    }
}
