@use '../../base/media' as *;
@use '../../base/var' as *;
@use '../../base/mixins' as *;

.values {
    max-width: rem(2440px);
    margin: 0 auto;
    margin-bottom: var(--section-pdd);
    position: relative;
    overflow: hidden;

    .cta {
        width: 100%;
        @include media('laptop') {
            min-width: rem(260px);
            width: max-content;
        }
    }

    &__cards {
        padding: rem(16px);
        border-radius: rem(32px) rem(1px) rem(32px) rem(1px);
        display: flex;
        flex-direction: column;
        gap: rem(32px);
        margin-bottom: rem(32px);
        border: 1px solid #717bb1;
        @include media('laptop') {
            gap: rem(32px);
            padding: rem(32px);
            margin-bottom: rem(48px);
        }
        @include media('desktop') {
            margin-bottom: rem(64px);
            gap: rem(32px);
            padding: rem(60px);
            border-radius: rem(80px) rem(1px) rem(80px) rem(1px);
        }
    }

    &__card {
        display: flex;
        flex-direction: column;
        gap: rem(16px);
        @include media('laptop') {
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            gap: rem(20px);

            &:not(:last-child) {
                padding-bottom: rem(32px);
                border-bottom: 1px solid #717bb1;
            }

            &:nth-child(even) {
                flex-direction: row-reverse;
            }
        }
    }

    &__pic {
        aspect-ratio: 303 / 222;
        border-radius: rem(24px);
        overflow: hidden;
        width: 100%;
        margin: 0 auto;
        @include media('laptop') {
            border-radius: rem(40px);
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        @include media('tablet') {
            max-width: 50%;
        }

        @include media('laptop') {
            aspect-ratio: 563 / 270;
        }
        @include media('desktop') {
            max-width: rem(563px);
            margin: 0;
        }
    }

    &__info {
        @include media('laptop') {
            width: 50%;
        }

        @include media('desktop') {
            max-width: rem(746px);
            width: 100%;
        }
    }

    &__tag {
        font: 500 #{rem(16px)} / 150% $ff-base;
        padding: rem(8px) rem(12px);
        display: inline-flex;
        align-items: center;
        gap: rem(6px);
        margin-bottom: rem(16px);
        border-radius: rem(24px);
        background: #34407d;
        border: 1px solid #717bb1;
        @include transitions(0.3s, cubic-bezier(0.768, 0.304, 0.496, 0.884));
        @include hover {
            background: #edf3f9;
            color: #272d69;

            &::before {
                background: #272d69;
            }
        }
        @include media('desktop') {
            font-size: rem(24px);
            margin-bottom: rem(24px);
        }

        &::before {
            content: '';
            width: rem(6px);
            height: rem(6px);
            display: inline-flex;
            flex-shrink: 0;
            border-radius: 50%;
            background: #f7f9fc;
            @include transitions(
                0.3s,
                cubic-bezier(0.768, 0.304, 0.496, 0.884)
            );
        }
    }

    &__descr {
        font: 400 #{rem(16px)} / 150% $ff-base;
        @include media('desktop') {
            font-size: rem(24px);
        }
    }

    &__bg {
        display: none;
        @include media('laptop') {
            display: block;
            position: absolute;
            width: rem(500px);
            height: rem(799px);
            transform: translateY(50%);
            object-fit: cover;
            left: -1%;
            top: 35%;
            bottom: 0;
            z-index: -1;
        }
    }
}
