@use '../base/media' as *;
@use '../base/var' as *;
@use '../base/mixins' as *;

.about-box {
    margin-top: rem(80px);
    padding: rem(16px);
    border-radius: rem(24px) rem(1px) rem(24px) rem(1px);
    background: #323871;
    display: flex;
    flex-direction: column;
    gap: rem(12px);

    @include media('laptop') {
        flex-direction: row;
        align-items: flex-start;
    }

    @include media('desktop') {
        padding: rem(69px) rem(56px);
        border-radius: rem(48px) rem(1px) rem(48px) rem(1px);
        align-items: center;
        gap: 0;
    }

    &__item {
        display: flex;
        align-items: center;
        gap: rem(12px);
        @include media('laptop') {
            flex: 1;
            flex-direction: column;
            align-items: center;
            text-align: center;
        }

        @include media('desktop') {
            flex-direction: row;
            text-align: left;
            gap: rem(16px);
        }

        &:not(:last-child) {
            position: relative;
            margin-bottom: rem(12px);
            padding-bottom: rem(12px);
            @include media('desktop') {
                margin-bottom: 0;
                padding-bottom: 0;
            }

            &::after {
                content: '';
                position: absolute;
                height: 1px;
                width: 80%;
                left: 50%;
                bottom: 0;
                transform: translateX(-50%);
                background: #4a9fee66;

                @include media('laptop') {
                    display: none;
                }
            }
        }

        &:nth-child(2) {
            @include media('desktop') {
                padding-inline: rem(60px);
                margin-inline: rem(60px);
                position: relative;

                &::after,
                &::before {
                    content: '';
                    display: block;
                    position: absolute;
                    height: 80%;
                    width: 1px;
                    top: 50%;
                    transform: translateY(-50%);
                    background: #4a9fee66;
                }

                &::before {
                    left: 0;
                }

                &::after {
                    right: 0;
                    left: auto;
                }
            }
        }

        p {
            font: 400 #{rem(16px)} / 150% $ff-base;
            @include media('desktop') {
                font-size: rem(18px);
            }
        }

        img {
            width: rem(28px);
            height: rem(28px);
            @include media('desktop') {
                width: rem(48px);
                height: rem(48px);
            }
        }
    }
}
