@use '../base/media' as *;
@use '../base/var' as *;
@use '../base/mixins' as *;

.breadcrumbs {
    margin-bottom: rem(11px);
    padding-top: rem(100px);
    display: flex;
    align-items: center;
    gap: rem(5px);
    font: 400 #{rem(14px)} / 150% $ff-base;
    overflow: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
    &::-webkit-scrollbar {
        display: none;
    }

    @include media('laptop') {
        font-size: rem(16px);
        padding-top: rem(121px);
        margin-bottom: rem(48px);
    }

    li {
        flex-shrink: 0;
        display: inline-flex;
        a {
            width: 100%;
        }

        &:not(:last-child) {
            a {
                display: inline-flex;
                align-items: center;
                gap: rem(5px);
                &::after {
                    content: '/';
                }
            }
        }

        &:last-child {
            a {
                color: #9dd0ff;
            }
        }
    }
}
