@use '../base/media' as *;
@use '../base/var' as *;
@use '../base/mixins' as *;

.close-form {
    position: absolute;
    top: rem(20px);
    right: rem(20px);
    display: inline-flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    width: rem(40px);
    height: rem(40px);
    border-radius: 50%;
    background: #34407d;

    &.laptop--hidden {
        @include media('laptop') {
            display: none;
        }
    }

    &.laptop--visible {
        display: none;
        @include media('laptop') {
            display: inline-flex;
        }
    }

    svg {
        display: inline-flex;
        flex-shrink: 0;
        width: rem(24px);
        height: rem(24px);
    }
}

.form-title {
    font: 500 #{rem(22px)} / 130% $ff-base;
    letter-spacing: 0.4px;
    margin-bottom: rem(48px);

    @include media('laptop') {
        font-size: rem(24px);
        margin-bottom: rem(32px);
    }
}
