@use '../base/media' as *;
@use '../base/var' as *;
@use '../base/mixins' as *;

.feedback-modal {
    overflow: auto;
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100vh;
    height: 100svh;
    z-index: 20;
    transform: translateY(-100%);
    background: $body_bg;
    color: #f7f9fc;
    scrollbar-width: none;
    -ms-overflow-style: none;
    &::-webkit-scrollbar {
        display: none;
    }
    @include transitions(0.5s, cubic-bezier(0.768, 0.304, 0.496, 0.884));
    @include media('laptop') {
        backdrop-filter: blur(8px);
        box-shadow: -5px -5px 250px 0px #ffffff05 inset;
        background: #32387199;
    }

    @include media('laptop') {
        .form-data {
            form {
                padding: 0;
                background: transparent;
                border-radius: 0;
            }
        }

        .container {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }

    @include media('desktop') {
        .cta {
            max-width: max-content;
            min-width: rem(260px);
        }
    }

    &.is-show {
        transform: translateY(0);
    }

    .container {
        height: 100%;
    }

    .feedback-form__content {
        overflow: auto;
        scrollbar-width: none;
        -ms-overflow-style: none;
        &::-webkit-scrollbar {
            display: none;
        }
        padding-block: rem(65px) rem(40px);
        @include transitions(0.5s, cubic-bezier(0.768, 0.304, 0.496, 0.884));
        @include media('laptop') {
            max-width: rem(793px);
            margin: 0 auto;
        }

        &.is-hide {
            padding: 0;
            opacity: 0;
            visibility: hidden;
            transform: translateY(-50%);
        }

        @include media('laptop') {
            position: relative;
            padding: rem(64px) rem(64px) rem(46px) rem(64px);
            border-radius: rem(48px);
            // height: 90%;
            background: #323871;
            border: 1px solid #4a9fee66;
        }
        @include media('desktop-lg') {
            height: auto;
        }
    }

    .feedback-form__bg {
        position: absolute;
        top: rem(35px);
        right: rem(0px);
        pointer-events: none;
        z-index: -1;
        @include media('laptop') {
            display: none;
        }
    }
}

.feedback-form {
    .form-data {
        &--simple {
            form {
                .form-data__fields {
                    display: flex;
                    flex-direction: column;
                    gap: rem(24px);
                    margin-bottom: rem(48px);
                    @include media('desktop') {
                        gap: rem(40px);
                    }
                }
            }
        }

        form {
            border-radius: rem(24px);
            padding: rem(16px);
            background: $dark_indigo;

            .cta {
                z-index: 2;
                width: 100%;
            }
        }
    }
}
