@use '../base/media' as *;
@use '../base/var' as *;
@use '../base/mixins' as *;

.lang-switcher {
    cursor: pointer;
    display: flex;
    position: relative;
    width: max-content;
    margin-bottom: rem(120px);
    padding: rem(8px);
    border-radius: rem(8px);
    background: #323871;
    color: #f7f9fc;

    @include media('laptop') {
        margin-bottom: 0;
        background: #272d69;

        @include hover {
            .lang-switcher__list {
                opacity: 1;
                visibility: visible;
                transform: translateY(100%);
            }
        }
    }

    &.is-open {
        .lang-switcher__list {
            opacity: 1;
            visibility: visible;
            transform: translateY(110%);
        }
    }

    &__current {
        display: inline-flex;
        align-items: center;
        gap: rem(4px);
        &::before {
            content: '';
            width: rem(24px);
            height: rem(24px);
            display: inline-flex;
            flex-shrink: 0;
            background: url('../imgs/ico/ico-globus.svg') no-repeat center
                center / cover;
        }
        &::after {
            content: '';
            width: rem(12px);
            height: rem(24px);
            display: inline-flex;
            flex-shrink: 0;
            background: url('../imgs/ico/ico-drop.svg') no-repeat center
                center / cover;
        }
    }

    &__label {
        font: 500 #{rem(16px)} / 150% $ff-base;
    }

    &__list {
        opacity: 0;
        visibility: hidden;
        width: 100%;
        bottom: 0;
        left: 0;
        transform: translateY(90%);
        position: absolute;
        border-radius: rem(8px);
        background: #323871;
        @include transitions(0.3s, cubic-bezier(0.768, 0.304, 0.496, 0.884));
    }

    &__link {
        display: flex;
        align-items: center;
        gap: rem(8px);
        padding: rem(6px) rem(8px);

        img {
            width: rem(16px);
            height: rem(12px);
        }
    }
}
