@use '../base/media' as *;
@use '../base/var' as *;
@use '../base/mixins' as *;

.mobile-menu {
    overflow: auto;
    transform: translateY(-100%);
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100vh;
    height: 100svh;
    z-index: 10;
    background: $body_bg;
    color: #f7f9fc;
    scrollbar-width: none;
    -ms-overflow-style: none;
    &::-webkit-scrollbar {
        display: none;
    }
    @include transitions(0.5s, cubic-bezier(0.768, 0.304, 0.496, 0.884));

    &.is-open {
        transform: translateY(0);
    }

    &__content {
        padding-top: rem(105px);
        padding-bottom: rem(40px);
    }

    &__bg {
        position: absolute;
        top: 0;
        right: 0;
        pointer-events: none;
        z-index: -1;
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: rem(32px);
        margin-bottom: rem(40px);

        a {
            font: 500 #{rem(22px)} / 130% $ff-base;
            letter-spacing: 0.4px;
            position: relative;
            @include transitions(
                0.3s,
                cubic-bezier(0.768, 0.304, 0.496, 0.884)
            );
            background: linear-gradient(
                135.3deg,
                #ffffff 0.01%,
                rgba(75, 159, 238, 0.8) 122.61%
            );

            background-size: 100% 200%;
            background-clip: text;
            -webkit-background-clip: text;

            @include hover {
                color: rgba(0, 0, 0, 0);
            }
        }

        li:last-child {
            & > a {

                &::before {
                    content: '';
                    width: rem(24px);
                    height: rem(24px);
                    display: inline-flex;
                    flex-shrink: 0;
                    background: url('../imgs/ico/ico-user.svg') no-repeat center
                        center / cover;
                    @include transitions(
                        0.3s,
                        cubic-bezier(0.768, 0.304, 0.496, 0.884)
                    );
                }
            }

            .mobile-menu__submenu {
                a {
                    &::before {
                        display: none;
                    }
                }
            }
        }

        li:has(.mobile-menu__routes) {
            &.is-active {
                & > a {
                    color: rgba(0, 0, 0, 0);

                    &::after {
                        transform: rotate(180deg);
                    }
                }
                .mobile-menu__routes {
                    margin-top: rem(12px);
                    grid-template-rows: 1fr;
                }
            }

            & > a {
                display: inline-flex;
                align-items: center;
                gap: rem(10px);

                &::after {
                    content: '';
                    width: rem(12px);
                    height: rem(12px);
                    display: inline-flex;
                    flex-shrink: 0;
                    background: url('../imgs/ico/ico-drop.svg') no-repeat center
                        center / cover;
                    @include transitions(
                        0.3s,
                        cubic-bezier(0.768, 0.304, 0.496, 0.884)
                    );
                }
            }
        }
    }

    &__link {
        font: 500 #{rem(22px)} / 130% $ff-base;
        letter-spacing: 0.4px;
        @include transitions(0.3s, cubic-bezier(0.768, 0.304, 0.496, 0.884));
        background: linear-gradient(
            135.3deg,
            #ffffff 0.01%,
            rgba(75, 159, 238, 0.8) 122.61%
        );
        background-size: 200% 200%;
        background-clip: text;
        -webkit-background-clip: text;

        @include hover {
            color: rgba(0, 0, 0, 0);
        }
    }

    &__routes {
        display: grid;
        grid-template-rows: 0fr;
        @include transitions(0.3s, cubic-bezier(0.768, 0.304, 0.496, 0.884));
    }

    &__submenu {
        display: flex;
        flex-direction: column;
        gap: rem(24px);
        overflow: hidden;
        a {
            font-size: rem(18px);
            padding: rem(6px) rem(20px);
        }
    }
}
