@use '../base/media' as *;
@use '../base/var' as *;
@use '../base/mixins' as *;

.routes {
    display: flex;
    flex-direction: column;
    gap: rem(16px);

    @include media('laptop') {
        flex-direction: row;
    }

    li {
        flex: 1;
    }

    a {
        min-height: rem(80px);
        width: 100%;
        flex: 1;
        display: inline-flex;
        align-items: center;
        justify-content: space-between;
        gap: rem(12px);
        padding: rem(11px) rem(36px);
        border-radius: rem(1px) rem(24px) rem(1px) rem(24px);
        background: #323871;
        @include transitions(0.5s, cubic-bezier(0.768, 0.304, 0.496, 0.884));
        @include media('laptop') {
            height: 100%;
        }

        @include media('desktop') {
            min-height: rem(119px);
        }

        @include hover {
            background: #edf3f9;

            span:first-child {
                color: #272d69;
            }

            span:last-child {
                transform: rotate(-45deg);
                color: $lgth_color;
                background: $dark_indigo;

                &::after {
                    opacity: 0;
                }
            }
        }

        &.is-active {
            background: #edf3f9;

            span:first-child {
                color: #272d69;
            }

            span:last-child {
                transform: rotate(-45deg);
                color: $lgth_color;
                background: $dark_indigo;

                &::after {
                    opacity: 0;
                }
            }
        }

        span {
            &:first-child {
                font: 500 #{rem(22px)} / 130% $ff-base;
                letter-spacing: 0.4px;
                @include transitions(
                    0.5s,
                    cubic-bezier(0.768, 0.304, 0.496, 0.884)
                );
                @include media('desktop') {
                    font-size: rem(28px);
                }
            }
            &:last-child {
                border-radius: 50%;
                width: rem(32px);
                height: rem(32px);
                display: inline-flex;
                flex-shrink: 0;
                align-items: center;
                justify-content: center;
                color: $dark_indigo;
                transform: rotate(45deg);
                overflow: hidden;
                position: relative;
                @include transitions(
                    0.5s,
                    cubic-bezier(0.768, 0.304, 0.496, 0.884)
                );

                &::after {
                    position: absolute;
                    content: '';
                    width: 100%;
                    height: 100%;
                    inset: 0;
                    background: $accent_gr;
                    @include transitions(
                        0.5s,
                        cubic-bezier(0.768, 0.304, 0.496, 0.884)
                    );
                }

                svg {
                    position: relative;
                    z-index: 2;
                }
            }
        }
    }
}
