@use '../base/media' as *;
@use '../base/mixins' as *;
@use '../base/var' as *;

.header {
    padding-block: rem(32px) rem(12px);
    z-index: 15;
    background: $dark_indigo;

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: rem(12px);
        padding-inline: rem(16px);
    }

    &__logo {
        width: rem(91px);
        height: rem(38px);
    }
    &__controls {
        display: flex;
        align-items: center;
        gap: rem(16px);
    }

    &__burger {
        position: relative;
        width: rem(40px);
        height: rem(40px);
        @include transitions(0.3s, cubic-bezier(0.768, 0.304, 0.496, 0.884));

        &.is-active {
            span:nth-child(1) {
                top: 50%;
                width: 100%;
                transform: translateY(-50%) rotateZ(-135deg);
            }
            span:nth-child(2) {
                right: 50%;
                width: 0;
            }
            span:nth-child(3) {
                top: 50%;
                width: 100%;
                transform: translateY(-50%) rotateZ(135deg);
            }
        }

        span {
            position: absolute;
            right: 0;
            width: 90%;
            height: 2px;
            border-radius: 2px;
            background: #f7f9fc;
            transition: inherit;

            &:nth-child(1) {
                top: rem(12px);

                .hamburger.is-active &,
                .w-nav-button.w--open & {
                    top: 50%;
                    transform: translateY(-50%) rotateZ(-135deg);
                }
            }

            &:nth-child(2) {
                top: 48%;

                .hamburger.is-active &,
                .w-nav-button.w--open & {
                    right: 50%;
                    width: 0;
                }
            }

            &:nth-child(3) {
                bottom: rem(12px);

                .hamburger.is-active &,
                .w-nav-button.w--open & {
                    top: 50%;
                    width: 100%;
                    transform: translateY(-50%) rotateZ(135deg);
                }
            }
        }
    }

    .cta {
        z-index: 2;
    }
}
