@use '../base/media' as *;
@use '../base/mixins' as *;
@use '../base/var' as *;

.header {
    position: fixed;
    width: 100%;
    top: 0;
    padding-block: rem(32px) rem(12px);
    z-index: 15;
    background: $dark_indigo;

    @include media('laptop') {
        padding-block: rem(20px);
    }

    .lang-switcher {
        display: none;
        @include media('laptop') {
            display: flex;
        }
    }

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: rem(12px);
        padding-inline: rem(16px);

        @include media('laptop') {
            padding-inline: var(--container-padding);
        }
    }

    &__nav {
        display: none;
        @include media('laptop') {
            display: flex;
        }
    }

    &__list {
        @include media('laptop') {
            display: flex;
            align-items: center;
            gap: rem(20px);
        }
        @include media('desktop') {
            gap: rem(49px);
        }

        li {
            & > a {
                font: 500 #{rem(18px)} / 150% $ff-base;
            }

            &:has(.submenu) {
                position: relative;

                @include hover {
                    .wrapper {
                        opacity: 1;
                        pointer-events: all;
                    }
                }

                .wrapper {
                    pointer-events: none;
                    opacity: 0;
                    position: absolute;
                    left: 0;
                    width: max-content;
                    bottom: 0;
                    transform: translateY(100%);
                    @include transitions(
                        0.3s,
                        cubic-bezier(0.768, 0.304, 0.496, 0.884)
                    );
                }
            }

            &:has(.submenu) > a {
                display: inline-flex;
                align-items: center;
                gap: rem(8px);

                &::after {
                    content: '';
                    width: rem(12px);
                    height: rem(12px);
                    display: inline-flex;
                    flex-shrink: 0;
                    background: url('../imgs/ico/ico-drop.svg') no-repeat center
                        center / cover;
                    @include transitions(
                        0.3s,
                        cubic-bezier(0.768, 0.304, 0.496, 0.884)
                    );
                }
            }

            a {
                @include transitions(
                    0.3s,
                    cubic-bezier(0.768, 0.304, 0.496, 0.884)
                );
                background: linear-gradient(
                    135.3deg,
                    #ffffff 0.01%,
                    rgba(75, 159, 238, 0.8) 122.61%
                );

                background-size: 100% 200%;
                background-clip: text;
                -webkit-background-clip: text;

                @include hover {
                    color: rgba(0, 0, 0, 0);
                }
            }
        }

        .submenu {
            margin-top: rem(10px);
            display: flex;
            flex-direction: column;
            gap: rem(8px);
            padding: rem(24px);
            width: max-content;
            border-radius: rem(24px) rem(1px) rem(24px) rem(1px);
            background-color: #323871;
            border: 1px solid #272d69;

            a {
                font: 400 #{rem(16px)} / 150% $ff-base;
            }
        }
    }

    &__logo {
        width: rem(91px);
        height: rem(38px);

        img {
            width: 100%;
            height: 100%;
        }
        @include media('desktop') {
            width: rem(139px);
            height: rem(58px);
        }
    }
    &__controls {
        display: flex;
        align-items: center;
        gap: rem(16px);
        @include media('desktop') {
            gap: rem(40px);
        }
    }

    &__burger {
        position: relative;
        width: rem(32px);
        height: rem(32px);
        @include transitions(0.3s, cubic-bezier(0.768, 0.304, 0.496, 0.884));
        @include media('laptop') {
            display: none;
        }

        &.is-active {
            span:nth-child(1) {
                top: 50%;
                width: 100%;
                transform: translateY(-50%) rotateZ(-135deg);
            }
            span:nth-child(2) {
                right: 50%;
                width: 0;
            }
            span:nth-child(3) {
                top: 50%;
                width: 100%;
                transform: translateY(-50%) rotateZ(135deg);
            }
        }

        span {
            position: absolute;
            right: 0;
            width: 90%;
            height: 2px;
            border-radius: 2px;
            background: #f7f9fc;
            transition: inherit;

            &:nth-child(1) {
                top: rem(9px);

                .hamburger.is-active &,
                .w-nav-button.w--open & {
                    top: 50%;
                    transform: translateY(-50%) rotateZ(-135deg);
                }
            }

            &:nth-child(2) {
                top: 48%;

                .hamburger.is-active &,
                .w-nav-button.w--open & {
                    right: 50%;
                    width: 0;
                }
            }

            &:nth-child(3) {
                bottom: rem(8px);

                .hamburger.is-active &,
                .w-nav-button.w--open & {
                    top: 50%;
                    width: 100%;
                    transform: translateY(-50%) rotateZ(135deg);
                }
            }
        }
    }

    &__log {
        display: none;
        @include media('laptop') {
            display: block;
            font: 500 #{rem(18px)} / 150% $ff-base;
            @include transitions(
                0.3s,
                cubic-bezier(0.768, 0.304, 0.496, 0.884)
            );
            background: linear-gradient(
                135.3deg,
                #ffffff 0.01%,
                rgba(75, 159, 238, 0.8) 122.61%
            );

            background-size: 100% 200%;
            background-clip: text;
            -webkit-background-clip: text;

            @include hover {
                color: rgba(0, 0, 0, 0);
            }
        }
    }

    .cta {
        padding: rem(8px) rem(23px);
        z-index: 2;
        @include media('laptop') {
            gap: rem(8px);
            padding: rem(13px) rem(23px);
        }
        img {
            display: none;

            @include media('laptop') {
                display: block;
                width: rem(24px);
                height: rem(24px);
            }
        }
    }
}
